//COLORS
$color-black: #000;

$color-white: #fff;
$color-white-2: #eedddd;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

// Font
$default-font-size: 1.6rem;