.header {
  background-image: linear-gradient(
      rgba($color-grey-dark-3, 0.75) 6rem,
      rgba($color-white, 0.2) 100%
    ),
    url(/img/header-img.jpg);
  background-size: cover;
  background-position: top;
  height: 100vh;
  color: $color-white;
  margin-top: -6rem;

  &__text-box-wrapper {
    height: calc(100vh - 6rem);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-20%);
  }
}

.header-2 {
  background-image: linear-gradient(
      rgba($color-grey-dark-3, 0.75) 6rem,
      rgba($color-white, 0.2) 100%
    ),
    url(/img/header-img-2.jpg);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background-size: cover;
  background-position: top;
  height: 100vh;
  color: $color-white;
  margin-top: -6rem;
}
