@mixin button-default {
  font-size: $default-font-size;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 2rem;
  }
}

@mixin input-styles {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  font-family: inherit;
  color: inherit;
  background-color: rgba($color-grey-light-2, 0.9);
  border: none;
  border-bottom: 0.3rem solid transparent;
  display: block;
  transition: all 0.3s;

  &:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
    border-bottom: 0.3rem solid green;
  }

  &:focus:invalid {
    border-bottom: 0.3rem solid orangered;
  }

  &::-webkit-input-placeholder {
    color: $color-grey-dark-2;
  }
}

@mixin header-bg($img, $height: 100vh) {
  background-image: linear-gradient(
      rgba($color-grey-dark-3, 0.75) 7rem,
      rgba($color-white, 0.2) 100%
    ),
    url($img);
  background-size: cover;
  background-position: top;
  color: $color-white;
  margin-top: -7rem;
  padding-top: 7rem;
  height: $height;
}
