.profile {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-size: $default-font-size;

  & > * {
    padding-right: 2rem;
    width: 33.333%;
  }

  &__caption {
    padding: 0 2rem;
    border-bottom: 0.1rem solid $color-grey-dark-2;
    margin-bottom: 2rem;
  }

  &__container {
    padding: 0 2rem;

    .btn-square:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__list {
    list-style: none;
    padding: 0 2rem;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__input-group {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__input-field {
    width: calc(100% - 42.73px);
    display: inline-block;
    padding: 1rem;
    border: none;
    background-color: #e0e0e0;
    height: 40px;
    &:focus {
      outline: none !important;
      border: 1px solid $color-grey-dark-3;
      box-shadow: 0 0.5rem 1rem rgba($color-black , 0.15);
    }
  }

  &__input-icon {
    font-size: 2rem;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: $color-grey-dark-3;
    color: $color-grey-light-1;
    cursor: pointer;
    &:hover {
      background-color: $color-grey-dark-4;
      color: $color-grey-light-2;
    }
    &:active {
      background-color: $color-grey-dark-5;
      color: $color-grey-dark;
    }
  }

  &__item-title {
    font-size: inherit;
    font-weight: 100;
    font-variant: small-caps;
  }
}
